@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@500&family=Instrument+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@500&family=Instrument+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    /* background: fixed; */
}

.container{
    display: flex;
    background-color: rgb(106, 100, 100);
   
}

.sidebar{
    background-color: rgb(219, 217, 217);
    border: 2px solid black;
    width: 230px;
    font-family: 'Foldit', cursive;
font-family: 'Instrument Serif', serif;

    height: 100vh;
}

.sidebar nav{
    padding: 34px;
}

.sidebar nav li{
    list-style: none;
    font-size: 50px;
    padding: 40px 0;
}

.sidebar nav li a{
  text-decoration: none;
  color: black;
}

.main{
    /* background-color: aqua; */
    width: 100vw;
    height: 100vh;
}
.info{
    /* background-color: bisque; */
    height: 63vh;
    width: 58vw;
    margin: 255px auto;
    display: flex;
    justify-content: space-around;
   
}

.pic img{
    width: 450px;
    height: 69vh;
    border-radius: 50%;
    margin-right: 132px;
    /* justify-content: flex-end; */
    margin-right: -56px;
    margin-top: -144px;}

.devinfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* width: 500px; */


}
.hello{
    font-size: 30px;
    color: #c0c0c0;
}
.name{
    font-size: 50px;
    font-weight: bold;
    color: aqua;
   
}

.about{
    font-size: 50px;
    font-family: 'Foldit', cursive;
    font-family: 'Instrument Serif', serif;
    color: rgb(101, 229, 81);
}
.moreabout{
    font-family: 'Foldit', cursive;
font-family: 'Instrument Serif', serif;
font-size: 25px;
font-weight: bold;
margin: 30px;
color: bisque;
}

.buttons button{
    font-size: 20px;
    
    padding: 12px 7px;
    border-radius:22px ;
    font-weight: bold;
    color: aqua;
    background-color: rgb(185, 181, 181);
    cursor: pointer;
    margin: 25px 10px;

}

.buttons button:hover{
    color:  black;
    background-color:aqua;
}

@media screen and (max-width:1000px){

    *{
        background: fixed;
        padding: 0;
        margin: 0;
    
    }

    .container{
        background-color: rgb(106, 100, 100);
    }
    .sidebar{
        background-color: rgb(219, 217, 217);
        border: 2px solid black;
        width: 100px;
        font-family: 'Foldit', cursive;
    font-family: 'Instrument Serif', serif;
    
        height: 99vh;
        
    }
    
    .sidebar nav{
        padding: 20px;
    }
    
    .sidebar nav li{
        list-style: none;
        font-size: 20px;
        padding: 40px 0;
    } 
    
    .main{
        width: 10vw;
        height: 100vh;
    }
    .pic img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
      margin-top: 54px;
      margin-left: -315px;
    } 

        .info{
             height: 0px;
            width: 0px; 
            margin: 0px auto;
            display: flex;
            justify-content: space-around; 
           
        }

        .devinfo{
            display: flex;
            justify-content: center;
            flex-direction: column;
            /* margin:163px 121px; */
            /* width: 500px; */
            margin-left: 566px;
            margin-top: 455px;
          
          
          }

          .hello{
            font-size: 20px;
            padding: 0;
            margin-top: -277px;
            margin-left: -72px;
            width: 100px;
            color: rgb(255, 254, 247);
        }
        .name{
            font-size: 25px;
            font-weight: bold;
            color: aqua;
            width: 294px;
             margin-left: -74px;
            /* width: 305px; */
            margin-top: 18px; 
           
        }
        
        .about{
            font-size: 21px;
            font-family: 'Foldit', cursive;
            font-family: 'Instrument Serif', serif;
            color: rgb(101, 229, 81);
            margin-top: 37px;
            margin-left: -72px;
        }
        .moreabout{
            font-family: 'Foldit', cursive;
            font-family: 'Instrument Serif', serif;
            font-size: 17px;
            font-weight: bold;
            /* margin: 30px; */
            width: 500px;
            margin-top: 39px;
            margin-left: -77px;}

        .buttons button{
            font-size: 10px;
            
            padding: 12px 7px;
            border-radius:22px ;
            font-weight: bold;
            color: aqua;
            background-color: rgb(185, 181, 181);
            cursor: pointer;
            /* margin: 25px 10px; */
            margin-top: 31px;
        
        }
}